.meal {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #6b6a6a; 
  }
  
  .meal h1 {
    display: inline-block;
    margin: 0 0 0.25rem 0;
    font-weight: bold;
    align-items: center;
    font-size: 2.5rem;
    font-family: "Helvetica Neue";
    letter-spacing: .1rem;
    margin-right: 10px;
  }
  
  .speakerButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 30px;
    padding: 0;
    width: 30px;
  }
  
  .speakerButton img {
    height: 100%;
    width: 100%;
  }