.meal {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #6b6a6a;
}

.mealHeader {
  display: flex;
  align-items: center;
  position: relative;
}


.meal h1 {
  display: inline-block;
  margin: 0 0 0.25rem 0;
  font-weight: bold;
  font-size: 2.5rem;
  font-family: "Helvetica Neue";
  letter-spacing: 0.1rem;
}

.word {
  margin-right: 10px;
}

.audioPlayer {
  appearance: none;
  width: 42px;
  height: 42px;
  background-color: #ccc;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px; 
  position: relative;

}

.audioPlayer:hover {
  background-color: #a19e95;
}
.audioPlayer img {
  width: 27px;
  height: auto;
}

.dropdown {
  position: relative;
  top: 5%;
  right: 5%;
  margin-right: -90px;
}

.languageSelect {
  padding-left: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 0.9rem;
  background-color: #ccc;
  border: 2px solid #a19e95;
  border-radius: 2rem;
  outline: none;
  cursor: pointer;
  width: 70px;
}

.source {
  position: absolute;
  font-size: smaller;
  font-style: italic;
  color: grey;
  text-align: right;
  width: 80%;
  margin-top: 2.6rem;
  left: 12rem;
}