.header {
  background-color: #001e5f;
  box-shadow: 0 2px 4px rgba(197, 1, 1, 0.258);
  height: 10rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 220px;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  }
  
  .headerSearching {
    background-color: #0a3e8e;
    justify-content: flex-start;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }


.title h1 {
  display: flex;
  font-size: 2.5rem;
  color: #ece8de;
  letter-spacing: .3px;
}

form {
  display: flex;
  align-items: center;
  width: 50%;
}


input[type="text"] {
  flex-grow: 1;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

button {
  border: none;
  background-color: #c82500;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  cursor: pointer;
}

button:hover {
  background-color: #900303;
  color: #dad5d5
}