.header {
  background-color: #031839;
  box-shadow: 0 2px 4px rgb(52, 49, 49);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 70px;
  z-index: 1;
}


.title h1 {
  display: flex;
  font-size: 3.5rem;
  color: #ece8de;
  letter-spacing: .3px;
  font-family:Calibri;
}

form {
  display: flex;
  align-items: center;
  position: relative;
}

input{
  flex-grow:  1;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  width: 550px;
}

button {
  border: none;
  
  color: black;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  cursor: pointer;
  background-color: white;

}

button:hover {
  
   color: #dad5d5
}

.searchResultsContainer {
  position: absolute;
  top: 100%;
  left: 0;
  border-radius: 0.5rem;
  z-index: 10;
  width: 550px;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  max-height: 200px;
  overflow-y: auto;
}

.searchResults {
  list-style: none;
  margin: 0;
  padding: 0;
}

.searchResults li {
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.searchResults li:hover,
.searchResults li.active {
  background-color: #eee;
  font-weight: bold;
}

.logo img {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
  height: 80px;
}
.buttonsContainer {
  position: absolute;
  top: 268px;
  right: 0;
  margin-right: 15px;
}

.button1{
  border-bottom-left-radius: 1em;
  border-top-left-radius: 1rem;
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}

.button2{
  border-bottom-left-radius: 0rem;
  border-top-left-radius: 0rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}


#online-dictionary:hover {
  cursor: pointer;
}
