.Infocard {
    /* margin-top: 20rem; */
    padding: 10px;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25); */
    border-radius: 14px;
    background-color: #f6f6f6;
}
.wodd{
  color: #ffffffc6;
  cursor: pointer;
  font-size: 3rem;
  padding: 1rem;
}

.woddbutton{
  display: block;
  margin: auto;
  margin-top: 10rem;
  background-color: #c82500ee;
  border-radius: 1.5rem;
  border: 2.5px solid #8b8b8b;
}

.woddbutton:hover{
  background-color: #ba0707e4;
  color: #dad5d5;
}

.woddbutton:active{
  background-color: #7e0202e7;
  color: #dad5d5;}
