.Infocard {
    /* margin-top: 20rem; */
    padding: 10px;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25); */
    border-radius: 14px;
    background-color: #f6f6f6;
}
.wodd{
  color: #ffffffc6;
  cursor: pointer;
  font-size: 3rem;
  padding: 5rem;
}

.woddbutton{
  display: block;
  margin: auto;
  margin-top: 10rem;
  background-color: #df411dee;
  border-radius: 1.5rem;
  box-shadow: 0 0 10px #7e7e7e;
  transform: scale(1);
  transition: transform 0.5s ease;
}

.woddbutton:hover{
  color: #dad5d5;
  transform: scale(1.07);
  transition: transform 0.3s ease;
}

.woddbutton:active{
  background-color: #7e0202e7;
  color: #dad5d5;
}
