.Infocard {
    /* margin-top: 20rem; */
    padding: 10px;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25); */
    border-radius: 14px;
    background-color: white;
}

#wodd{
    font-size:larger;
}

#myBtn{

    color: black;
    background-color: white;
}

.buttonn
{
    color: black;
    background-color: white;
    padding-left: 0px;
}
button:hover {
  
    color: black
 }