
.Infocard {
    padding: 10px;
    border-radius: 14px;
    background-color: #f6f6f6;
}
.wodd{
  color: #ffffffc6;
  cursor: pointer;
  font-size: 2rem;
}

.woddbutton{
    border-radius: 0rem;
    height: 65px;
    margin-left: -15px;
    margin-right: -15px;
    text-align: left;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.woddbutton:hover{
  transform: scale(1.02);
  transition: transform 0.15s ease;
  }

.woddbutton:active{
  background-color: #4e4e4ee7;
  color: #dad5d5;}

.buttonn
{
    color: black;
    background-color: #F6F6F6;
    padding-left: 0px;
}

.buttonnon{
  background-color: #ccc;
  color: #333;
  border-radius: 50px;
  padding: 7px 12px 5px 12px;
  font-size: 15px;
  margin-left: 0.5rem;
  margin-top: 0.7rem;
}

.buttonnon:active{
  background-color: #a2a2a2;
  color: #333;
}

.buttonnon:hover{
  text-decoration-line: underline;
}