.MainCard {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 50% 50%; 
    grid-template-rows: 100%;
    border-width: medium;
    border-color: rgb(18, 18, 227);
}

.MainInfocard {
    border-radius: 14px;
    background-color: rgba(237, 237, 237, 0.413);
    padding: 15px;
    margin: 15px;
    margin-left: 250px;
    color: #0c4ad0;
    border: 4px solid #0436a2;
    box-shadow: 0 15px 8px rgba(0, 0, 0, 0.25);

}

.MainInfocard h3{
    margin-left: 0.7rem;
    margin-top: 2rem;
    margin-bottom: -0.1rem;
}
.MainInfocardTrend {
    border-radius: 14px;
    background-color: rgba(237, 237, 237, 0.413);
    padding: 15px;
    margin: 15px;
    color: #0c4ad0;
    margin-right: 250px;
    border: 4px solid #0436a2;
    box-shadow: 0 15px 8px rgba(0, 0, 0, 0.25);

}